@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lexend+Deca:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lexend+Deca:wght@600&family=Playfair+Display:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #191919;
    overflow-x: hidden;
}

.navigation_bar_list{
    background-color: #111111;
    list-style: none;
}

.navigation_bar_list > li{
    background-color: #111111;
    display: inline-block;
    padding: 20px;
}

.navigation_bar_list > li > a{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 25px;
    background-color: #111111;
    color: rgb(194, 119, 8);
    text-decoration: none;
}

.navigation_bar_title{
    color:rgb(194, 119, 8);
    background-color: #111111;
    font-size: 50px;
    font-family: 'Great Vibes', cursive;
    padding: 0;
    margin-left: 100px;
    
}

.logo-wrapper{
    background-color: #111111;
    margin-right: auto;
}

header{
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 5%;
    background-color: #111111;
    top: 0;
    z-index: 1;
}

li nav{
    background-color: #111111;
    color: white;
}

.banner{   
    background: linear-gradient(90deg, rgba(52,31,0,1) 0%, rgba(120,75,16,1) 50%, rgba(92,58,19,1) 100%);
    width: 100%;
    height: 1000px;
    box-shadow: 0 0px 5px rgb(117, 70, 8);
}

@keyframes banner-img-slidein{
    from {
        opacity: 0.5;
        transform: translateX(50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.banner > img{
    float: right;
    background-color: transparent;
    height: 100%;
    width: 70%;
    animation: banner-img-slidein;
    animation-duration:  1.5s;
    animation-timing-function: ease;
    z-index: -1;
}

@keyframes banner-text-slidein {
    from {
        opacity: 0;
        transform: translateX(-10%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.banner > div{
    background-color: transparent;
    padding: 10%;
    align-items: center;
    white-space: pre-line;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    font-size: 30px;
    animation: banner-text-slidein 1.5s;
}

.hr-below-banner{
    margin-top: 70px;
    height: 5px;
    opacity: 20%;
}

.hot-selling{
    margin-top: 40px;
    display: block;
}

.hot-selling-title{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}

.hot-selling-title > span {
    color: white;
    font-size: 50px;
}

.hot-selling-title > a span{
    color: white;

}



.hot-selling > nav{
    display: flex;
    overflow-x: scroll;
}

.hot-selling-pic{
    margin-right: 10px;
    margin-top: -25px;
    margin-bottom: 0px;
}
